@font-face {
  font-family: 'montserrat-bold';
  src: url("fonts/Montserrat-Bold.otf"); }
@font-face {
  font-family: 'montserrat-med';
  src: url("fonts/Montserrat-Medium.otf"); }
@font-face {
  font-family: 'montserrat-light';
  src: url("fonts/Montserrat-Light.otf"); }
@font-face {
  font-family: 'lato-italic';
  src: url("fonts/Lato-Italic.ttf"); }
body {
  font-family: 'montserrat-med', sans-serif;
  overflow-x: hidden; }

strong {
  font-family: 'montserrat-bold'; }

h1, h2, h3 {
  letter-spacing: 1px; }

.btn {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 15px 20px;
  font-size: 1.2em;
  -webkit-transition: .3s;
  transition: .3s; }

.btn-red {
  background-color: #b20000; }
  .btn-red:hover {
    background-color: #6a0000; }

#vidWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  #vidWrap video {
    position: fixed;
    background-image: url("images/philippines-boat.jpg");
    background-size: cover;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }
  #vidWrap .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; }

header {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: 'montserrat-bold';
  padding: 20px 70px; }
  header .title {
    float: left; }
    header .title h2 {
      letter-spacing: 2px;
      font-size: 1.8em;
      margin: 0;
      margin-top: 5px; }
      header .title h2 a {
        text-decoration: none !important;
        color: #fff;
        position: relative;
        z-index: 1;
        -webkit-transition: .3s;
        transition: .3s; }
  header .nav {
    float: right; }
    header .nav li {
      display: inline-block; }
      header .nav li a {
        color: #fff;
        font-size: .9em;
        letter-spacing: 2px; }
        header .nav li a:hover {
          background-color: transparent;
          opacity: .8; }
  header #nav-icon2 {
    width: 60px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: 10px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.6);
    display: none; }
    header #nav-icon2 span {
      display: block;
      position: absolute;
      height: 9px;
      width: 50%;
      background-color: #fff;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      header #nav-icon2 span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0; }
      header #nav-icon2 span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px; }
      header #nav-icon2 span:nth-child(1), header #nav-icon2 span:nth-child(2) {
        top: 0px; }
      header #nav-icon2 span:nth-child(3), header #nav-icon2 span:nth-child(4) {
        top: 18px; }
      header #nav-icon2 span:nth-child(5), header #nav-icon2 span:nth-child(6) {
        top: 36px; }
    header #nav-icon2.open span {
      background-color: #ccc; }
      header #nav-icon2.open span:nth-child(1), header #nav-icon2.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      header #nav-icon2.open span:nth-child(2), header #nav-icon2.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      header #nav-icon2.open span:nth-child(1) {
        left: 5px;
        top: 7px; }
      header #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px; }
      header #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0; }
      header #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0; }
      header #nav-icon2.open span:nth-child(5) {
        left: 5px;
        top: 29px; }
      header #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 29px; }

.bannerText {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 300px;
  text-align: center;
  color: #fff; }
  .bannerText h1 {
    font-family: 'montserrat-bold';
    font-size: 7em; }
  .bannerText p {
    font-size: 1.7em;
    margin: 1.5em 0 2em;
    font-family: 'lato-italic'; }

.content {
  background-color: #fff;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 800px; }
  .content.interior {
    max-width: 690px;
    margin: 10em auto;
    padding: 0 20px;
    position: static;
    line-height: 26px; }
    .content.interior p {
      font-family: 'montserrat-light'; }
    .content.interior .entryWrap {
      margin-bottom: 9em; }
      .content.interior .entryWrap .entryDate {
        margin: 2em 0; }
      .content.interior .entryWrap img {
        width: 100%;
        margin-bottom: 2em; }
  .content .inlineImg {
    float: right;
    width: 200px;
    margin-left: 15px; }
    .content .inlineImg img {
      margin-bottom: 0 !important; }
    .content .inlineImg figcaption {
      font-style: italic;
      font-weight: normal;
      font-family: 'montserrat-light';
      font-size: .8em;
      color: #999; }

.photoGrid {
  padding: 100px 0;
  width: 1000px;
  margin: 0 auto;
  /****NEW CODE*******/
  /********************/ }
  .photoGrid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    /*duke*/
    background: -webkit-linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
    background: linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
    /*duke*/ }
    .photoGrid figure img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8; }
    .photoGrid figure figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .photoGrid figure figcaption::before, .photoGrid figure figcaption::after {
        pointer-events: none; }
    .photoGrid figure figcaption, .photoGrid figure > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .photoGrid figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .photoGrid figure h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      /*duke*/
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      font-size: 1.4em;
      font-family: 'montserrat-light';
      text-transform: none; }
      .photoGrid figure h2 span {
        font-weight: 800;
        display: block;
        font-size: 1.4em;
        font-family: 'montserrat-med';
        text-transform: uppercase; }
    .photoGrid figure h2, .photoGrid figure p {
      margin: 0; }
    .photoGrid figure img, .photoGrid figure p {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
    .photoGrid figure p {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 20px;
      padding: 30px;
      border: 2px solid #fff;
      text-transform: none;
      font-size: 90%;
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
      -webkit-transform-origin: 50% -100%;
      transform-origin: 50% -100%;
      font-family: 'montserrat-light'; }
    .photoGrid figure:hover img {
      opacity: 0.1;
      -webkit-transform: scale3d(2, 2, 1);
      transform: scale3d(2, 2, 1); }
    .photoGrid figure:hover h2, .photoGrid figure:hover p {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }

.snippet {
  clear: both;
  font-family: 'montserrat-light';
  padding: 70px 20px;
  max-width: 620px;
  margin: 0 auto;
  line-height: 24px;
  position: relative; }
  .snippet #quotes {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 0;
    z-index: 1; }
  .snippet p {
    z-index: 2;
    position: relative; }

.parallaxImg {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid #fff; }
  .parallaxImg .text {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
    padding-top: 17em;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1; }
    .parallaxImg .text h2 {
      font-family: 'montserrat-light';
      color: #fff;
      line-height: 45px;
      margin: 0; }
  .parallaxImg .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0; }
  .parallaxImg.parImgOne {
    background-image: url(images/solitaire-car.jpg); }
  .parallaxImg.parImgTwo {
    background-image: url(images/arabic-sign.jpg); }
  .parallaxImg.parImgThree {
    background-image: url(images/sa-lion.jpg);
    border-bottom: none; }
  .parallaxImg.parImgFour {
    background-image: url(images/gobi-camel.jpg); }
  .parallaxImg.parImgFive {
    background-image: url(images/pukaki.jpg); }
    .parallaxImg.parImgFive .btn {
      margin-top: 2em; }
  .parallaxImg.banner {
    border-bottom: none;
    min-height: 800px; }
    .parallaxImg.banner.bannerAbout {
      background-image: url(images/namib-charlie.jpg); }
    .parallaxImg.banner.bannerStories {
      background-image: url(images/china-tractor.jpg);
      min-height: 600px; }
      .parallaxImg.banner.bannerStories h1 {
        margin-top: 0;
        font-size: 7.5em; }
    .parallaxImg.banner h1 {
      color: #fff;
      margin-top: 2em;
      letter-spacing: 3px;
      font-size: 5.5em;
      font-family: 'montserrat-bold'; }

footer {
  background-color: #222;
  color: #aaa;
  font-family: 'montserrat-light';
  text-align: center;
  height: 200px; }
  footer p {
    font-weight: 100;
    padding-top: 90px;
    letter-spacing: 1px; }
    footer p a {
      color: #ccc !important;
      -webkit-transition: .3s;
      transition: .3s; }
      footer p a:hover {
        color: #fff !important;
        text-decoration: none; }

#mobileCarousel {
  display: none; }

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-control {
  background-image: none !important; }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 20px; }

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity; }
  .carousel-fade .carousel-inner .item p {
    color: #ccc;
    position: absolute;
    z-index: 1;
    bottom: 14px;
    right: 20px;
    letter-spacing: 1px;
    font-family: 'montserrat-light';
    font-style: italic;
    font-size: .7em; }

.carousel-fade .carousel-inner .active {
  opacity: 1; }

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-control {
  z-index: 2; }

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@media screen and (max-width: 1024px) {
  #vidWrap {
    background-image: url(images/philippines-boat.jpg);
    position: relative;
    background-size: cover;
    height: 750px;
    overflow-x: hidden; }
    #vidWrap video {
      display: none; }
    #vidWrap .overlay {
      height: 100%; }

  .content {
    position: static; }

  .parallaxImg {
    background-attachment: scroll; }

  .bannerText h1 {
    font-size: 5em; }

  .photoGrid {
    width: 90%;
    padding-top: 30px; } }
@media screen and (max-width: 870px) {
  header {
    padding: 20px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden; }
    header .nav {
      background-color: #333;
      float: none;
      position: absolute;
      right: -200px;
      top: 0;
      padding: 80px 20px 25px 50px;
      text-align: right;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      header .nav.navShow {
        right: 0; }
      header .nav li {
        display: block;
        font-size: 1.2em;
        line-height: 30px; }
    header #nav-icon2 {
      display: block; }
    header.fixedHeaderMobile {
      position: fixed; }
    header .title h2 {
      margin-top: 0; }

  .content.interior {
    margin: 5em auto; }
    .content.interior .entryWrap {
      margin-bottom: 5em; }

  #myCarousel {
    display: none; }

  #mobileCarousel {
    display: block; }

  #mobileCarousel .imgContainer {
    position: relative; }
    #mobileCarousel .imgContainer span {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-family: 'montserrat-light';
      color: #ccc;
      font-size: .8em;
      font-weight: 100;
      font-style: italic;
      letter-spacing: 1px; }
      #mobileCarousel .imgContainer span.dark {
        color: #333; }

  #mobileCarousel img {
    width: 100%;
    border-bottom: 1px solid #fff; } }
@media screen and (max-width: 745px) {
  .photoGrid {
    width: 100%;
    padding: 20px; }

  .photoGrid figure {
    float: none;
    margin: 20px auto;
    width: 100%; } }
@media screen and (max-width: 550px) {
  #vidWrap {
    height: 600px; }

  header .title h2 a.adventurelandBlue {
    color: lightblue; }

  .bannerText {
    top: 200px; }

  .parallaxImg.banner.bannerStories h1 {
    font-size: 5em; }

  .parallaxImg.banner h1 {
    font-size: 5em; }

  .entryTitle {
    font-size: 2em; } }
@media screen and (max-width: 400px) {
  .bannerText h1 {
    font-size: 4em;
    padding: 0 20px; }

  header .title h2 {
    font-size: 1.5em;
    margin-top: 3px; } }
@media screen and (max-width: 340px) {
  header .title h2 {
    font-size: 1.3em; }

  header #nav-icon2 {
    transform: scale(0.5); } }

/*# sourceMappingURL=styles.css.map */
